<div class="container h-100 py-5 mx-auto">
  <div class="row justify-content-center">
    <section class="col-lg-4 col-md-6">
      <div class="row mt-4">
        <div class="card text-center border-0 shadow-lg rounded-0">
          <div class="card-body">
            <h1 class="display-1">404</h1>
            <h6 class="card-title">
              Opps, it seems that this page does not exist.
            </h6>
            <a [routerLink]="['/']" title="Home" class="btn btn-primary">
              Go back
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
